
#banner {
	width: 100%;
	height: 500px;
	background: url('../images/income_banner.png') no-repeat;
	background-size: cover;
	background-position: center;
}

.content_box {
	padding: 110px 0;
}
.content_box .cont_tit {
	margin-bottom: 50px;
	font-size: 30px;
	color: #333;
	text-align: center;
}
.cont_top p {
	margin-bottom: 30px;
	text-indent: 2em;
	font-size: 16px;
	color: #333;
	line-height: 32px;
}

.content_box img {
	display: block;
	margin: auto;
}


.content_box ul li .tit {
	margin-top: 60px;
	margin-bottom: 20px;
	font-size: 20px;
	color: #333;
	line-height: 32px;
}
.content_box ul li {
	font-size: 16px;
	color: #333;
	line-height: 32px;
}
.content_box ul li ol li img {
	margin: 30px auto;
}

.content_box ul li ol li dt {
	font-weight: bold;
	margin-top: 40px;
}
